
.app-content.new-room {
  background-size: cover;
  padding-top: 150px;
}

.black-div {
  background: black;
  opacity: 0.8;
  color: white;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 50px;

  .bootstrap-datetimepicker-widget {
    color: black;
  }
}

.upload-image-div {
  height: 120px;
  width: 204px;
  margin: 5px auto;
  border: 2px dashed;
  overflow: hidden;

}

.upload-image-div img {
  width: 200px;
  height: auto;
  margin: auto;

}

.loading-div {
  position: absolute;
  top: 27px;
  left: calc(50% - 62px);
  z-index: 10;
}


.upload-logo-div {
  width: 94px;
  height: 90px;
  border: 2px dashed;
  margin: 16px auto 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}