
.app-content.room-list {
  padding-top: 150px;
}

.card {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  margin-bottom: 30px;
}

.room-list .grid {
  min-height: calc(100vh - 202px);
  padding-top: 50px;
  padding-bottom: 50px;
  display: inline-block;
  width: 100%;
}

.card > img {
  border-radius: 3px 3px 0 0;
}

.room-info {

  display: inline-block;
  width: 100%;
  padding: 33px 10px 20px;
  @include prefix(transform, rotate(7deg), webkit ms moz o);

  h2 {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  p {
    font-size: 12px;
    color: #8c8c8c;
    margin: 0;
  }

}


.room-text {
  padding: 0;
}

.room-logo-div {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
}


.room-logo-div img {
  max-width: 90px;
  max-height: 50px;
}

.diagonal {
  background: #FFFFFF;
  @include prefix(transform, rotate(-7deg), webkit ms moz o);
  width: 105%;
  margin-top: -28px;
}

.is-empty-div {
  height: calc(100vh - 202px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-pagination {
  clear: both;
  display: block;
  margin: auto;
  text-align: center;
}