<div class="app-content room-details">
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-3">
                <div class="room-image-div">
                    <img ng-src="{{ ctrl.room.image }}" class="img-responsive room-image">
                    <img ng-src="{{ ctrl.room.logo }}" class="img-responsive company-logo">
                </div>
                <div>

                    <h3>{{ ctrl.room.name }}</h3>
                    <h4>{{ ctrl.room.company }}, {{ ctrl.room.address }}<span ng-show="ctrl.room.floor != ''">, Floor {{ ctrl.room.floor }}</span><span ng-show="ctrl.room.entrance != ''">, Entrance {{ ctrl.room.entrance }}</span>.</h4>
                    <p>{{ ctrl.room.description }}</p>
                    <br>
                    <h5><md-icon>phone</md-icon>&nbsp; &nbsp;  <a href="tel:{{ ctrl.room.phone }}">{{ ctrl.room.phone }}</a></h5>
                    <h5><md-icon>people</md-icon>&nbsp; &nbsp;  Up to {{ ctrl.room.guests }} guests</h5>
                    <h5><md-icon>wifi</md-icon>&nbsp; &nbsp;  {{ ctrl.room.wifi_name }} - {{ ctrl.room.wifi_pass }}</h5>

                </div>
                <div ng-show="ctrl.isAdmin()" class="text-center">
                    <br>
                    <br>
                    <a href="/slots/{{ ctrl.room.id }}"><button class="btn btn-default"><md-icon>create</md-icon> Edit Slots</button></a>
                </div>
        </div>


        <div class="col-xs-12 col-sm-9">
            <calendar></calendar>
        </div>

    </div>




    </div><!-- .container -->
</div><!-- .app-content -->