<div class="row">
<div class="calendar col-xs-12 col-sm-8">

    <md-button class="btn-calendar" ng-click="calCtrl.subtractWeek()"><i class="fa fa-angle-left"></i> Previous</md-button>
    <span>{{month.format("MMMM, YYYY")}}</span>
    <md-button class="btn-calendar" ng-click="calCtrl.addWeek()">Next <i class="fa fa-angle-right"></i></md-button>
    <table class="table table-bordered table-striped table-responsive">
        <md-button class="btn-calendar pull-right" ng-click="calCtrl.setToday()">Today</md-button>
        <thead>
        <tr>
            <th class="day" ng-class="{today : calCtrl.isToday(0)}">{{ calCtrl.week[0] | date:'EEE d/M' }}</th>
            <th class="day" ng-class="{today : calCtrl.isToday(1)}">{{ calCtrl.week[1] | date:'EEE d/M' }}</th>
            <th class="day" ng-class="{today : calCtrl.isToday(2)}">{{ calCtrl.week[2] | date:'EEE d/M' }}</th>
            <th class="day" ng-class="{today : calCtrl.isToday(3)}">{{ calCtrl.week[3] | date:'EEE d/M' }}</th>
            <th class="day" ng-class="{today : calCtrl.isToday(4)}">{{ calCtrl.week[4] | date:'EEE d/M' }}</th>
            <th class="day" ng-class="{today : calCtrl.isToday(5)}">{{ calCtrl.week[5] | date:'EEE d/M' }}</th>
            <th class="day" ng-class="{today : calCtrl.isToday(6)}">{{ calCtrl.week[6] | date:'EEE d/M' }}</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td id="0-8" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[0][8].isAvailable, danger : calCtrl.slots[0][8].isBooked, success : calCtrl.slots[0][8].isSelected}">
                    08:00
                </td>
                <td id="1-8" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[1][8].isAvailable, danger : calCtrl.slots[1][8].isBooked, success : calCtrl.slots[1][8].isSelected}">
                    08:00
                </td>
                <td id="2-8" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[2][8].isAvailable, danger : calCtrl.slots[2][8].isBooked, success : calCtrl.slots[2][8].isSelected}">
                    08:00
                </td>
                <td id="3-8" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[3][8].isAvailable, danger : calCtrl.slots[3][8].isBooked, success : calCtrl.slots[3][8].isSelected}">
                    08:00
                </td>
                <td id="4-8" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[4][8].isAvailable, danger : calCtrl.slots[4][8].isBooked, success : calCtrl.slots[4][8].isSelected}">
                    08:00
                </td>
                <td id="5-8" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[5][8].isAvailable, danger : calCtrl.slots[5][8].isBooked, success : calCtrl.slots[5][8].isSelected}">
                    08:00
                </td>
                <td id="6-8" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[6][8].isAvailable, danger : calCtrl.slots[6][8].isBooked, success : calCtrl.slots[6][8].isSelected}">
                    08:00
                </td>
            </tr>


            <tr>
                <td id="0-9" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[0][9].isAvailable, danger : calCtrl.slots[0][9].isBooked, success : calCtrl.slots[0][9].isSelected}">
                    09:00
                </td>
                <td id="1-9" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[1][9].isAvailable, danger : calCtrl.slots[1][9].isBooked, success : calCtrl.slots[1][9].isSelected}">
                    09:00
                </td>
                <td id="2-9" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[2][9].isAvailable, danger : calCtrl.slots[2][9].isBooked, success : calCtrl.slots[2][9].isSelected}">
                    09:00
                </td>
                <td id="3-9" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[3][9].isAvailable, danger : calCtrl.slots[3][9].isBooked, success : calCtrl.slots[3][9].isSelected}">
                    09:00
                </td>
                <td id="4-9" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[4][9].isAvailable, danger : calCtrl.slots[4][9].isBooked, success : calCtrl.slots[4][9].isSelected}">
                    09:00
                </td>
                <td id="5-9" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[5][9].isAvailable, danger : calCtrl.slots[5][9].isBooked, success : calCtrl.slots[5][9].isSelected}">
                    09:00
                </td>
                <td id="6-9" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[6][9].isAvailable, danger : calCtrl.slots[6][9].isBooked, success : calCtrl.slots[6][9].isSelected}">
                    09:00
                </td>
            </tr>

            <tr>
                <td id="0-10" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[0][10].isAvailable, danger : calCtrl.slots[0][10].isBooked, success : calCtrl.slots[0][10].isSelected}">
                    10:00
                </td>
                <td id="1-10" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[1][10].isAvailable, danger : calCtrl.slots[1][10].isBooked, success : calCtrl.slots[1][10].isSelected}">
                    10:00
                </td>
                <td id="2-10" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[2][10].isAvailable, danger : calCtrl.slots[2][10].isBooked, success : calCtrl.slots[2][10].isSelected}">
                    10:00
                </td>
                <td id="3-10" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[3][10].isAvailable, danger : calCtrl.slots[3][10].isBooked, success : calCtrl.slots[3][10].isSelected}">
                    10:00
                </td>
                <td id="4-10" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[4][10].isAvailable, danger : calCtrl.slots[4][10].isBooked, success : calCtrl.slots[4][10].isSelected}">
                    10:00
                </td>
                <td id="5-10" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[5][10].isAvailable, danger : calCtrl.slots[5][10].isBooked, success : calCtrl.slots[5][10].isSelected}">
                    10:00
                </td>
                <td id="6-10" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[6][10].isAvailable, danger : calCtrl.slots[6][10].isBooked, success : calCtrl.slots[6][10].isSelected}">
                    10:00
                </td>
            </tr>

            <tr>
                <td id="0-11" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[0][11].isAvailable, danger : calCtrl.slots[0][11].isBooked, success : calCtrl.slots[0][11].isSelected}">
                    11:00
                </td>
                <td id="1-11" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[1][11].isAvailable, danger : calCtrl.slots[1][11].isBooked, success : calCtrl.slots[1][11].isSelected}">
                    11:00
                </td>
                <td id="2-11" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[2][11].isAvailable, danger : calCtrl.slots[2][11].isBooked, success : calCtrl.slots[2][11].isSelected}">
                    11:00
                </td>
                <td id="3-11" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[3][11].isAvailable, danger : calCtrl.slots[3][11].isBooked, success : calCtrl.slots[3][11].isSelected}">
                    11:00
                </td>
                <td id="4-11" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[4][11].isAvailable, danger : calCtrl.slots[4][11].isBooked, success : calCtrl.slots[4][11].isSelected}">
                    11:00
                </td>
                <td id="5-11" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[5][11].isAvailable, danger : calCtrl.slots[5][11].isBooked, success : calCtrl.slots[5][11].isSelected}">
                    11:00
                </td>
                <td id="6-11" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[6][11].isAvailable, danger : calCtrl.slots[6][11].isBooked, success : calCtrl.slots[6][11].isSelected}">
                    11:00
                </td>
            </tr>


            <tr>
                <td id="0-12" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[0][12].isAvailable, danger : calCtrl.slots[0][12].isBooked, success : calCtrl.slots[0][12].isSelected}">
                    12:00
                </td>
                <td id="1-12" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[1][12].isAvailable, danger : calCtrl.slots[1][12].isBooked, success : calCtrl.slots[1][12].isSelected}">
                    12:00
                </td>
                <td id="2-12" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[2][12].isAvailable, danger : calCtrl.slots[2][12].isBooked, success : calCtrl.slots[2][12].isSelected}">
                    12:00
                </td>
                <td id="3-12" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[3][12].isAvailable, danger : calCtrl.slots[3][12].isBooked, success : calCtrl.slots[3][12].isSelected}">
                    12:00
                </td>
                <td id="4-12" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[4][12].isAvailable, danger : calCtrl.slots[4][12].isBooked, success : calCtrl.slots[4][12].isSelected}">
                    12:00
                </td>
                <td id="5-12" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[5][12].isAvailable, danger : calCtrl.slots[5][12].isBooked, success : calCtrl.slots[5][12].isSelected}">
                    12:00
                </td>
                <td id="6-12" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[6][12].isAvailable, danger : calCtrl.slots[6][12].isBooked, success : calCtrl.slots[6][12].isSelected}">
                    12:00
                </td>
            </tr>


            <tr>
                <td id="0-13" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[0][13].isAvailable, danger : calCtrl.slots[0][13].isBooked, success : calCtrl.slots[0][13].isSelected}">
                    13:00
                </td>
                <td id="1-13" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[1][13].isAvailable, danger : calCtrl.slots[1][13].isBooked, success : calCtrl.slots[1][13].isSelected}">
                    13:00
                </td>
                <td id="2-13" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[2][13].isAvailable, danger : calCtrl.slots[2][13].isBooked, success : calCtrl.slots[2][13].isSelected}">
                    13:00
                </td>
                <td id="3-13" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[3][13].isAvailable, danger : calCtrl.slots[3][13].isBooked, success : calCtrl.slots[3][13].isSelected}">
                    13:00
                </td>
                <td id="4-13" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[4][13].isAvailable, danger : calCtrl.slots[4][13].isBooked, success : calCtrl.slots[4][13].isSelected}">
                    13:00
                </td>
                <td id="5-13" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[5][13].isAvailable, danger : calCtrl.slots[5][13].isBooked, success : calCtrl.slots[5][13].isSelected}">
                    13:00
                </td>
                <td id="6-13" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[6][13].isAvailable, danger : calCtrl.slots[6][13].isBooked, success : calCtrl.slots[6][13].isSelected}">
                    13:00
                </td>
            </tr>


            <tr>
                <td id="0-14" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[0][14].isAvailable, danger : calCtrl.slots[0][14].isBooked, success : calCtrl.slots[0][14].isSelected}">
                    14:00
                </td>
                <td id="1-14" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[1][14].isAvailable, danger : calCtrl.slots[1][14].isBooked, success : calCtrl.slots[1][14].isSelected}">
                    14:00
                </td>
                <td id="2-14" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[2][14].isAvailable, danger : calCtrl.slots[2][14].isBooked, success : calCtrl.slots[2][14].isSelected}">
                    14:00
                </td>
                <td id="3-14" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[3][14].isAvailable, danger : calCtrl.slots[3][14].isBooked, success : calCtrl.slots[3][14].isSelected}">
                    14:00
                </td>
                <td id="4-14" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[4][14].isAvailable, danger : calCtrl.slots[4][14].isBooked, success : calCtrl.slots[4][14].isSelected}">
                    14:00
                </td>
                <td id="5-14" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[5][14].isAvailable, danger : calCtrl.slots[5][14].isBooked, success : calCtrl.slots[5][14].isSelected}">
                    14:00
                </td>
                <td id="6-14" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[6][14].isAvailable, danger : calCtrl.slots[6][14].isBooked, success : calCtrl.slots[6][14].isSelected}">
                    14:00
                </td>
            </tr>


            <tr>
                <td id="0-15" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[0][15].isAvailable, danger : calCtrl.slots[0][15].isBooked, success : calCtrl.slots[0][15].isSelected}">
                    15:00
                </td>
                <td id="1-15" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[1][15].isAvailable, danger : calCtrl.slots[1][15].isBooked, success : calCtrl.slots[1][15].isSelected}">
                    15:00
                </td>
                <td id="2-15" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[2][15].isAvailable, danger : calCtrl.slots[2][15].isBooked, success : calCtrl.slots[2][15].isSelected}">
                    15:00
                </td>
                <td id="3-15" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[3][15].isAvailable, danger : calCtrl.slots[3][15].isBooked, success : calCtrl.slots[3][15].isSelected}">
                    15:00
                </td>
                <td id="4-15" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[4][15].isAvailable, danger : calCtrl.slots[4][15].isBooked, success : calCtrl.slots[4][15].isSelected}">
                    15:00
                </td>
                <td id="5-15" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[5][15].isAvailable, danger : calCtrl.slots[5][15].isBooked, success : calCtrl.slots[5][15].isSelected}">
                    15:00
                </td>
                <td id="6-15" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[6][15].isAvailable, danger : calCtrl.slots[6][15].isBooked, success : calCtrl.slots[6][15].isSelected}">
                    15:00
                </td>
            </tr>

            <tr>
                <td id="0-16" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[0][16].isAvailable, danger : calCtrl.slots[0][16].isBooked, success : calCtrl.slots[0][16].isSelected}">
                    16:00
                </td>
                <td id="1-16" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[1][16].isAvailable, danger : calCtrl.slots[1][16].isBooked, success : calCtrl.slots[1][16].isSelected}">
                    16:00
                </td>
                <td id="2-16" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[2][16].isAvailable, danger : calCtrl.slots[2][16].isBooked, success : calCtrl.slots[2][16].isSelected}">
                    16:00
                </td>
                <td id="3-16" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[3][16].isAvailable, danger : calCtrl.slots[3][16].isBooked, success : calCtrl.slots[3][16].isSelected}">
                    16:00
                </td>
                <td id="4-16" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[4][16].isAvailable, danger : calCtrl.slots[4][16].isBooked, success : calCtrl.slots[4][16].isSelected}">
                    16:00
                </td>
                <td id="5-16" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[5][16].isAvailable, danger : calCtrl.slots[5][16].isBooked, success : calCtrl.slots[5][16].isSelected}">
                    16:00
                </td>
                <td id="6-16" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[6][16].isAvailable, danger : calCtrl.slots[6][16].isBooked, success : calCtrl.slots[6][16].isSelected}">
                    16:00
                </td>
            </tr>

            <tr>
                <td id="0-17" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[0][17].isAvailable, danger : calCtrl.slots[0][17].isBooked, success : calCtrl.slots[0][17].isSelected}">
                    17:00
                </td>
                <td id="1-17" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[1][17].isAvailable, danger : calCtrl.slots[1][17].isBooked, success : calCtrl.slots[1][17].isSelected}">
                    17:00
                </td>
                <td id="2-17" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[2][17].isAvailable, danger : calCtrl.slots[2][17].isBooked, success : calCtrl.slots[2][17].isSelected}">
                    17:00
                </td>
                <td id="3-17" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[3][17].isAvailable, danger : calCtrl.slots[3][17].isBooked, success : calCtrl.slots[3][17].isSelected}">
                    17:00
                </td>
                <td id="4-17" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[4][17].isAvailable, danger : calCtrl.slots[4][17].isBooked, success : calCtrl.slots[4][17].isSelected}">
                    17:00
                </td>
                <td id="5-17" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[5][17].isAvailable, danger : calCtrl.slots[5][17].isBooked, success : calCtrl.slots[5][17].isSelected}">
                    17:00
                </td>
                <td id="6-17" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[6][17].isAvailable, danger : calCtrl.slots[6][17].isBooked, success : calCtrl.slots[6][17].isSelected}">
                    17:00
                </td>
            </tr>

            <tr>
                <td id="0-18" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[0][18].isAvailable, danger : calCtrl.slots[0][18].isBooked, success : calCtrl.slots[0][18].isSelected}">
                    18:00
                </td>
                <td id="1-18" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[1][18].isAvailable, danger : calCtrl.slots[1][18].isBooked, success : calCtrl.slots[1][18].isSelected}">
                    18:00
                </td>
                <td id="2-18" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[2][18].isAvailable, danger : calCtrl.slots[2][18].isBooked, success : calCtrl.slots[2][18].isSelected}">
                    18:00
                </td>
                <td id="3-18" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[3][18].isAvailable, danger : calCtrl.slots[3][18].isBooked, success : calCtrl.slots[3][18].isSelected}">
                    18:00
                </td>
                <td id="4-18" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[4][18].isAvailable, danger : calCtrl.slots[4][18].isBooked, success : calCtrl.slots[4][18].isSelected}">
                    18:00
                </td>
                <td id="5-18" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[5][18].isAvailable, danger : calCtrl.slots[5][18].isBooked, success : calCtrl.slots[5][18].isSelected}">
                    18:00
                </td>
                <td id="6-18" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[6][18].isAvailable, danger : calCtrl.slots[6][18].isBooked, success : calCtrl.slots[6][18].isSelected}">
                    18:00
                </td>
            </tr>


            <tr>
                <td id="0-19" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[0][19].isAvailable, danger : calCtrl.slots[0][19].isBooked, success : calCtrl.slots[0][19].isSelected}">
                    19:00
                </td>
                <td id="1-19" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[1][19].isAvailable, danger : calCtrl.slots[1][19].isBooked, success : calCtrl.slots[1][19].isSelected}">
                    19:00
                </td>
                <td id="2-19" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[2][19].isAvailable, danger : calCtrl.slots[2][19].isBooked, success : calCtrl.slots[2][19].isSelected}">
                    19:00
                </td>
                <td id="3-19" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[3][19].isAvailable, danger : calCtrl.slots[3][19].isBooked, success : calCtrl.slots[3][19].isSelected}">
                    19:00
                </td>
                <td id="4-19" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[4][19].isAvailable, danger : calCtrl.slots[4][19].isBooked, success : calCtrl.slots[4][19].isSelected}">
                    19:00
                </td>
                <td id="5-19" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[5][19].isAvailable, danger : calCtrl.slots[5][19].isBooked, success : calCtrl.slots[5][19].isSelected}">
                    19:00
                </td>
                <td id="6-19" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[6][19].isAvailable, danger : calCtrl.slots[6][19].isBooked, success : calCtrl.slots[6][19].isSelected}">
                    19:00
                </td>
            </tr>

            <tr>
                <td id="0-20" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[0][20].isAvailable, danger : calCtrl.slots[0][20].isBooked, success : calCtrl.slots[0][20].isSelected}">
                    20:00
                </td>
                <td id="1-20" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[1][20].isAvailable, danger : calCtrl.slots[1][20].isBooked, success : calCtrl.slots[1][20].isSelected}">
                    20:00
                </td>
                <td id="2-20" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[2][20].isAvailable, danger : calCtrl.slots[2][20].isBooked, success : calCtrl.slots[2][20].isSelected}">
                    20:00
                </td>
                <td id="3-20" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[3][20].isAvailable, danger : calCtrl.slots[3][20].isBooked, success : calCtrl.slots[3][20].isSelected}">
                    20:00
                </td>
                <td id="4-20" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[4][20].isAvailable, danger : calCtrl.slots[4][20].isBooked, success : calCtrl.slots[4][20].isSelected}">
                    20:00
                </td>
                <td id="5-20" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[5][20].isAvailable, danger : calCtrl.slots[5][20].isBooked, success : calCtrl.slots[5][20].isSelected}">
                    20:00
                </td>
                <td id="6-20" ng-click="calCtrl.hourClick($event)"
                    ng-class="{info : calCtrl.slots[6][20].isAvailable, danger : calCtrl.slots[6][20].isBooked, success : calCtrl.slots[6][20].isSelected}">
                    20:00
                </td>
            </tr>



        </tbody>
    </table>
</div>

<div class="dashboard col-xs-12 col-sm-4">

</div>

</div>