@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/bootstrap/stylesheets/bootstrap',
  url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/form',
  'components/button';

// 6. Page-specific styles
@import
  'pages/new-room',
  'pages/room-details',
  'pages/room-list',
  'pages/slots',
  'pages/home';

// 7. Themes
@import
  'themes/default';


