// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  padding: 10px 28px;
  border: 2px solid transparent;
  border-radius: 15px;
  font-weight: 600;
}

.btn-default {
  border-color:#ccc;
  background-color: transparent;
}


.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.btn-submit {
  background-color: #35e4bd;
  border: 1px solid #35e4bd;
  border-radius: 4px;
}


.btn-facebook {

  background-color: rgb(59, 89, 152);
  color: white;
  border-radius: 50px;
  padding: 5px 20px;
  text-transform: none;

  @include on-event(){
    background-color: rgb(59, 89, 152) !important;
    color: white;
  }
}
