

.form-control:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}



label {
  font-weight: 300;
}

.submit-div {
  padding-top: 30px;
  padding-bottom: 30px;
}


.form-control:focus {
  border-color: inherit;
}