<div class="app-content room-list">

    <div class="container">

        <search-bar></search-bar>

        <div class="grid">
            <div id="{{ room.id }}" class="room col-xs-12 col-sm-6 col-md-4"
                 ng-repeat="room in roomsCtrl.rooms">
                <div class="card">
                    <img ng-src="{{ room.image }}" class="img-responsive">
                    <div class="diagonal">
                        <div class="room-info">
                            <h2>{{ room.name }}</h2>
                            <h3>{{ room.company }}</h3>
                            <div class="room-text col-xs-8">
                                <p> {{ room.description }}</p>
                            </div>
                            <div class="room-logo-div col-xs-4">
                                <img class="room-logo img-responsive" ng-src="{{ room.logo }}">
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div><!-- .container -->
</div><!-- .app-content -->