<div class="app-content room-list">

    <div class="container">

        <search-bar></search-bar>
        <div class="is-empty-div" ng-show="roomsCtrl.isEmpty()">
            <div class="is-emtpy-content text-center">
                <img class="center-block" src="/images/sad.png">
                <h4>No rooms fit this search</h4>
            </div>
        </div>
        <div class="grid" ng-hide="roomsCtrl.isEmpty()">
            <div id="{{ room.id }}" class="room col-xs-12 col-sm-6 col-md-4"
                 dir-paginate="room in roomsCtrl.rooms | itemsPerPage: 9">
                <a href="/#room/{{ room.id }}">
                    <div class="card">
                        <img ng-src="{{ room.image }}" class="img-responsive">
                        <div class="diagonal">
                            <div class="room-info">
                                <h2>{{ room.name }}</h2>
                                <h3>{{ room.company }}</h3>
                                <div class="room-text col-xs-8">
                                    <p> {{ room.description }}</p>
                                </div>
                                <div class="room-logo-div col-xs-4">
                                    <img class="room-logo img-responsive" ng-src="{{ room.logo }}">
                                </div>
                            </div><!-- .room-info -->
                        </div><!-- .diagonal -->
                    </div><!-- .card -->
                </a>
            </div><!-- .room -->
            <dir-pagination-controls></dir-pagination-controls>
        </div><!-- .grid -->
    </div><!-- .container -->
</div><!-- .app-content -->