// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.navbar-nav .avatar-menu {
  margin-top: 20px;
}

.navbar-nav .sign-in {
  margin-top: 10px;

  &:hover {
    background-color: transparent;
  }
}

.navbar-default .navbar-toggle {
  margin-top: 25px;
}

nav.navbar {
  padding-top: 30px;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-brand {
  height: inherit;
}

.nav img.avatar {
  max-width: 50px;
  border-radius: 50%;
  border: 1px solid white;
}

.nav .md-button.md-icon-button {
  margin: 0 6px;
  height: inherit;
  min-width: 0;
  line-height: 24px;
  padding: 8px;
  width: inherit;
  border-radius: 50%;
}

.md-open-menu-container.md-active {
  margin-left: -112px;
}

md-menu-content {
  border-radius: 5px;
}

